<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Some website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
     {{> header}} 

    <p>{{scream wm}}</p>

   {{> footer}}
    </body>
</html>